.app {
  font-family: sans-serif;
}

.game-info {
  position: fixed;
  top: 70%;
  margin: 20px;
}

.tile-container {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.game-board {
  background: #cbcbcb;
  position: fixed;
  height: 60%;
  width: 100%;
  top: 43%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.tile {
 vertical-align: top;
 background: #fff;
 border: 2px solid #000;
 margin: -1px;
 font-size: 24px;
 width: 100px;
 height: 100px;
 padding: 0;
}

.flower {
  height: 70px;
  width: 70px;
}

.tile-blank {
  vertical-align: top;
  background: transparent;
  border: 0px solid #000;
  margin: 1px;
  font-size: 24px;
  font-weight: bold;
  width: 96px;
  height: 96px;
  padding: 0;
}