.app {
  font-family: sans-serif;
}

p {
  margin: 0;
}

.header {
  margin-left: 20px;
}

.header-block {
  display: inline-block;
}

.header-spacer {
  display: inline-block;
  width: 10px;
  text-align: center;
}

.header-spacer2 {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.game-info {
  position: fixed;
  top: 100%;
  margin-left: 10px;

}

.tile-container {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.dice-container {
  width:25%;
  position: fixed;
  display: inline-block;

}

.dice-info { 
  position: fixed;
  left: 5px;
  bottom: 5px;
}

.roll-dice-button {
  background: transparent;
  border: 0px transparent;
}

.dice {
  margin: 5px;
  display: inline-block;
}

.player-1-nonactive-container {
  background: transparent;
  position: fixed;
  top: 20px;
  left: 17%;

}

.player-2-nonactive-container {
  background: transparent;
  position: fixed;
  bottom: 20px;
  left: 17%;
}

.player-indicator {
  font-size: 16px;

}

.game-board {
  background: #cbcbcb;
  position: fixed;
  height: 80%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile {
 vertical-align: top;
 background: #fff;
 border: 2px solid #000;
 margin: -1px;
 font-size: 24px;
 width: 100px;
 height: 100px;
 padding: 0;
}

.tile-nonactive {
  background: transparent;
  border: 2px transparent;
}

.tile-decal {
  height: 70px;
  width: 70px;
}

.tile-blank {
  vertical-align: top;
  background: transparent;
  border: 0px solid #000;
  margin: 1px;
  font-size: 24px;
  font-weight: bold;
  width: 96px;
  height: 96px;
  padding: 0;
}